html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  width: 450px;
}

input, button {
  font-family: Helvetica,Arial,sans-serif;
}

input {
  width: 180px;
  height: 14px;
}

a {
  color: #2b9af3;
  text-decoration: none;
  cursor: pointer;
}

a.light {
  color: #c8c8c8;
}

.pull-right {
  float: right;
}

.body {
  background: #7e7e7e;
  padding: 0;
  width: 450px;
  padding-top: 2px;
}

section {
  background: #f5f5f5;
  border: solid 1px #5e5e5e;
  color: #5e5e5e;
  margin: 8px;
}

section.outer-section {
  background: transparent;
  border: 0;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.inner-section {
  background: #f5f5f5;
  border: solid 1px #5e5e5e;
  color: #5e5e5e;
  margin: 0;
  padding: 8px;
  margin-bottom: 8px;
}

.inner-section li {
  border: 0;
  padding: 0 0 5px;
}

.inner-section h3 {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  border-bottom: solid 1px #c8c8c8;
  padding: 10px;
}

li:hover {
  background: #ededed;
  box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.3);
}

li.accordion {
  cursor: pointer;
}

li.accordion i {
  float: right;
  margin-top: 8px;
}

ul.sublist li.edit {
  font-size: 11px;
  text-align: right;
}

li.edit i {
  font-size: 15px;
}

li:last-child {
  border: none;
}

ul.sublist li.input-container {
  padding: 5px 10px;
}

ul.sublist {
  border-top: solid 1px #c8c8c8;
}

ul.sublist li {
  line-height: 29px;
  overflow: hidden;
  position: relative;
}

ul.sublist li:hover {
  box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.14);
}

ul.sublist li a {
}

.compare-container {
  float: right;
}

ul.sublist .new-window {
  margin-left: 4px;
  opacity: 0;
}

ul.sublist li:hover .new-window {
  -webkit-animation: fadeIn .5s;
  -webkit-animation-fill-mode: forwards;
}

button {
  border: solid 1px #5e5e5e;
  background: #d9d9d9;
  outline: none;
  font-size: 12px;
  color: #5e5e5e;
  padding: 6px 12px;
  cursor: pointer;
}

button.active {
  background: #b5b5b5;
}

button:hover {
  background: #b5b5b5;
}

button:active {
  box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.25);
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  display: inline;
  line-height: 29px;
}

li h3 {
  float: left;
}

.content {
  float: right;
  margin: 0;
  padding: 0;
  display: inline;
}

.btn-group {
  font-size: 0;
  margin-left: 8px;
  display: inline-block;
}

.btn-group button {
 margin: 0;
 border-left-width: 0;
 font-size: 12px;
}

.btn-group button:first-child {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn-group button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

.contact i {
  font-size: 15px;
}

ul.contact li:hover {
  background: transparent;
  box-shadow: none;
}

.icon-warning {
  font-size: 16px;
  color: #cc0000;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.success {
  -webkit-animation: fadeSuccess 3s;
  -webkit-animation-fill-mode: forwards;
}

.fail {
  -webkit-animation: fadeFail 3s;
  -webkit-animation-fill-mode: forwards;
}

.noaction {
  -webkit-animation: fadeNoAction 3s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeSuccess {
  0% {background-color: #f5f5f5;}
  10% {background-color: #3c763d;}
  100% {background-color: #f5f5f5;}
}

@-webkit-keyframes fadeFail {
  0% {background-color: #f5f5f5;}
  10% {background-color: #a94442;}
  100% {background-color: #f5f5f5;}
}

@-webkit-keyframes fadeNoAction {
  0% {background-color: #f5f5f5;}
  10% {background-color: #ffff66;}
  100% {background-color: #f5f5f5;}
}

ul.info-list li {
  padding: 2px 4px;
}

.info-list span {
  float: right;
  word-break: break-word;
}

.user-id {
  margin-left: 5px;
}

#sudoables {
  width: 190px;
  margin-top: 5px;
  margin-left: 5px;
}

.icon-plus,
.icon-minus {
  cursor: pointer;
}