.jsondiffpatch-delta {
  font-family: Courier, monospace;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 12px;
  display: inline-block;
  position: absolute;
  overflow: scroll;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
.jsondiffpatch-delta pre {
  font-family: Courier, monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
ul.jsondiffpatch-delta {
  list-style-type: none;
  padding: 0 0 0 20px;
  margin: 0;
}
.jsondiffpatch-delta ul {
  list-style-type: none;
  padding: 0 0 0 20px;
  margin: 0;
}
.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value,
.jsondiffpatch-textdiff-added {
  background: #bbffbb;
}
.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
  background: #ffbbbb;
  text-decoration: line-through;
}
.jsondiffpatch-unchanged,
.jsondiffpatch-movedestination {
  color: gray;
}
.jsondiffpatch-unchanged,
.jsondiffpatch-movedestination > .jsondiffpatch-value {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  overflow-y: hidden;
}
.jsondiffpatch-unchanged-showing .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-showing .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 100px;
}
.jsondiffpatch-unchanged-hidden .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 0;
}
.jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination > .jsondiffpatch-value,
.jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination > .jsondiffpatch-value {
  display: block;
}
.jsondiffpatch-unchanged-visible .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-visible .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 100px;
}
.jsondiffpatch-unchanged-hiding .jsondiffpatch-unchanged,
.jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 0;
}
.jsondiffpatch-unchanged-showing .jsondiffpatch-arrow,
.jsondiffpatch-unchanged-hiding .jsondiffpatch-arrow {
  display: none;
}
.jsondiffpatch-value {
  display: inline-block;
}
.jsondiffpatch-property-name {
  display: inline-block;
  padding-right: 5px;
  vertical-align: top;
}
.jsondiffpatch-property-name:after {
  content: ': ';
}
.jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name:after {
  content: ': [';
}
.jsondiffpatch-child-node-type-array:after {
  content: '],';
}
div.jsondiffpatch-child-node-type-array:before {
  content: '[';
}
div.jsondiffpatch-child-node-type-array:after {
  content: ']';
}
.jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name:after {
  content: ': {';
}
.jsondiffpatch-child-node-type-object:after {
  content: '},';
}
div.jsondiffpatch-child-node-type-object:before {
  content: '{';
}
div.jsondiffpatch-child-node-type-object:after {
  content: '}';
}
.jsondiffpatch-value pre:after {
  content: ',';
}
li:last-child > .jsondiffpatch-value pre:after,
.jsondiffpatch-modified > .jsondiffpatch-left-value pre:after {
  content: '';
}
.jsondiffpatch-modified .jsondiffpatch-value {
  display: inline-block;
}
.jsondiffpatch-modified .jsondiffpatch-right-value {
  margin-left: 5px;
}
.jsondiffpatch-moved .jsondiffpatch-value {
  display: none;
}
.jsondiffpatch-moved .jsondiffpatch-moved-destination {
  display: inline-block;
  background: #ffffbb;
  color: #888;
}
.jsondiffpatch-moved .jsondiffpatch-moved-destination:before {
  content: ' => ';
}
ul.jsondiffpatch-textdiff {
  padding: 0;
}
.jsondiffpatch-textdiff-location {
  color: #bbb;
  display: inline-block;
  min-width: 60px;
}
.jsondiffpatch-textdiff-line {
  display: inline-block;
}
.jsondiffpatch-textdiff-line-number:after {
  content: ',';
}
.jsondiffpatch-error {
  background: red;
  color: white;
  font-weight: bold;
}


/* diff */
.aem-developer-chrome-diff {
  position: fixed !important;
  background: white;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 999999;
  border: solid 1px #000;
  padding: 20px;
  overflow: scroll;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
  overflow: hidden;
}

.aem-developer-chrome-diff .aem-developer-chrome-diff-titlebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  background: #c8c8c8;
}

.aem-developer-chrome-diff .aem-developer-chrome-diff-title {
  display: inline-block;
  margin: 10px 10px auto 10px;
  color: #7e7e7e;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}


.aem-developer-chrome-diff .aem-developer-chrome-diff-toggle:before {
  content: '[';
}

.aem-developer-chrome-diff .aem-developer-chrome-diff-toggle:after {
  content: ']';
}

.aem-developer-chrome-diff .aem-developer-chrome-diff-toggle {
  display: inline-block;
  font-size: 12px;
  color: #0051FF;
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
}

.aem-developer-chrome-diff .aem-developer-chrome-diff-close {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 8px;
}

.aem-developer-chrome-diff .aem-developer-chrome-diff-close:after {
  content: 'x';
  display: inline-block;
  border-radius: 50px;
  color: #fff;
  background: #7e7e7e;
  font-family: sans-serif;
  padding: 5px 10px;
  font-size: 16px;
}

.aem-developer-chrome-diff .aem-developer-chrome-diff-close:hover {
  text-decoration: none;
}