#aem-developer-chrome-diff::shadow .jsondiffpatch-delta {
  font-family: Courier, monospace;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 12px;
  display: inline-block;
  position: absolute;
  overflow: scroll;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-delta pre {
  font-family: Courier, monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#aem-developer-chrome-diff::shadow ul.jsondiffpatch-delta {
  list-style-type: none;
  padding: 0 0 0 20px;
  margin: 0;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-delta ul {
  list-style-type: none;
  padding: 0 0 0 20px;
  margin: 0;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-added .jsondiffpatch-property-name,
#aem-developer-chrome-diff::shadow .jsondiffpatch-added .jsondiffpatch-value pre,
#aem-developer-chrome-diff::shadow .jsondiffpatch-modified .jsondiffpatch-right-value,
#aem-developer-chrome-diff::shadow .jsondiffpatch-textdiff-added {
  background: #bbffbb;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-deleted .jsondiffpatch-property-name,
#aem-developer-chrome-diff::shadow .jsondiffpatch-deleted pre,
#aem-developer-chrome-diff::shadow .jsondiffpatch-modified .jsondiffpatch-left-value pre,
#aem-developer-chrome-diff::shadow .jsondiffpatch-textdiff-deleted {
  background: #ffbbbb;
  text-decoration: line-through;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged,
#aem-developer-chrome-diff::shadow .jsondiffpatch-movedestination {
  color: gray;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged,
#aem-developer-chrome-diff::shadow .jsondiffpatch-movedestination > .jsondiffpatch-value {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  overflow-y: hidden;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-showing .jsondiffpatch-unchanged,
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-showing .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 100px;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-hidden .jsondiffpatch-unchanged,
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 0;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination > .jsondiffpatch-value,
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-hidden .jsondiffpatch-movedestination > .jsondiffpatch-value {
  display: block;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-visible .jsondiffpatch-unchanged,
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-visible .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 100px;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-hiding .jsondiffpatch-unchanged,
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-hiding .jsondiffpatch-movedestination > .jsondiffpatch-value {
  max-height: 0;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-showing .jsondiffpatch-arrow,
#aem-developer-chrome-diff::shadow .jsondiffpatch-unchanged-hiding .jsondiffpatch-arrow {
  display: none;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-value {
  display: inline-block;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-property-name {
  display: inline-block;
  padding-right: 5px;
  vertical-align: top;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-property-name:after {
  content: ': ';
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name:after {
  content: ': [';
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-child-node-type-array:after {
  content: '],';
}
#aem-developer-chrome-diff::shadow div.jsondiffpatch-child-node-type-array:before {
  content: '[';
}
#aem-developer-chrome-diff::shadow div.jsondiffpatch-child-node-type-array:after {
  content: ']';
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name:after {
  content: ': {';
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-child-node-type-object:after {
  content: '},';
}
#aem-developer-chrome-diff::shadow div.jsondiffpatch-child-node-type-object:before {
  content: '{';
}
#aem-developer-chrome-diff::shadow div.jsondiffpatch-child-node-type-object:after {
  content: '}';
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-value pre:after {
  content: ',';
}
#aem-developer-chrome-diff::shadow li:last-child > .jsondiffpatch-value pre:after,
.jsondiffpatch-modified > .jsondiffpatch-left-value pre:after {
  content: '';
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-modified .jsondiffpatch-value {
  display: inline-block;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-modified .jsondiffpatch-right-value {
  margin-left: 5px;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-moved .jsondiffpatch-value {
  display: none;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-moved .jsondiffpatch-moved-destination {
  display: inline-block;
  background: #ffffbb;
  color: #888;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-moved .jsondiffpatch-moved-destination:before {
  content: ' => ';
}
#aem-developer-chrome-diff::shadow ul.jsondiffpatch-textdiff {
  padding: 0;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-textdiff-location {
  color: #bbb;
  display: inline-block;
  min-width: 60px;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-textdiff-line {
  display: inline-block;
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-textdiff-line-number:after {
  content: ',';
}
#aem-developer-chrome-diff::shadow .jsondiffpatch-error {
  background: red;
  color: white;
  font-weight: bold;
}

/* diff */
#aem-developer-chrome-diff::shadow .container {
  position: fixed !important;
  background: white;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 999999;
  border: solid 1px #333;
  overflow: scroll;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
  overflow: hidden;
}

#aem-developer-chrome-diff::shadow .titlebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  background: #c8c8c8;
}

#aem-developer-chrome-diff::shadow .title {
  display: inline-block;
  margin: 10px 10px auto 10px;
  color: #7e7e7e;
  font-size: 16px;
  font-family: Helvetica,Arial,sans-serif;
}


#aem-developer-chrome-diff::shadow .toggle:before {
  content: '[';
}

#aem-developer-chrome-diff::shadow .toggle:after {
  content: ']';
}

#aem-developer-chrome-diff::shadow .toggle {
  display: inline-block;
  font-size: 12px;
  color: #0051FF;
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
}

#aem-developer-chrome-diff::shadow .close {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 8px;
}

#aem-developer-chrome-diff::shadow .close:after {
  content: 'x';
  display: inline-block;
  border-radius: 50px;
  color: #fff;
  background: #7e7e7e;
  font-family: sans-serif;
  padding: 5px 10px;
  font-size: 16px;
}

#aem-developer-chrome-diff::shadow .close:hover {
  text-decoration: none;
}

#aem-developer-chrome-diff::shadow .comparebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  height: 40px;
  background: #efefef;
  color: #7e7e7e;
  font-size: 14px;
  padding-left: 10px;
}

#aem-developer-chrome-diff::shadow .comparebar span .origin {
  color: #333;
}

#aem-developer-chrome-diff::shadow .comparebar > span:after {
  content: "";
  display: table;
  clear: both;
}

#aem-developer-chrome-diff::shadow li::-webkit-scrollbar,
#aem-developer-chrome-diff::shadow ul::-webkit-scrollbar {
    -webkit-appearance: none;
}