<!DOCTYPE html>
<html data-ng-app="PopupApp" data-ng-csp>
    <head>
        <title>AEM Developer</title>
        <link rel="stylesheet" href="css/angular-csp.css" />
        <link rel="stylesheet" href="css/popup.css" />
        <link rel="stylesheet" href="css/icons.css" />
    </head>
    <body data-ng-controller="PopupController">
        <div class="body">
            <section>
                <ul data-ng-click="collapseZ = !collapseZ">
                    <li class="accordion clearfix">
                        <h3>Info</h3>
                        <i ng-class="{'icon-arrow-down': collapseZ, 'icon-arrow-right': !collapseZ}"></i>
                    </li>
                </ul>
                <ul class="sublist info-list" data-ng-show="collapseZ">
                    <li>
                        User
                        <span>
                            <span data-ng-show="user.authorizableId" data-ng-bind="'(' + user.authorizableId + ')'"></span>
                            <span data-ng-bind="user.name"></span>
                        </span>
                    </li>
                    <li>
                        AEM version
                        <span data-ng-bind="product.version"></span>
                    </li>
                    <li>
                        Sling run modes
                        <span data-ng-bind="sling.runModes"></span>
                    </li>
                    <li>
                        Java version
                        <span data-ng-bind="system.java.version"></span>
                    </li>
                    <li>
                        Java runtime
                        <span data-ng-bind="system.java.runtime"></span>
                    </li>
                    <li>
                        Java VM
                        <span data-ng-bind="system.java.vm"></span>
                    </li>
                    <li>
                        OS
                        <span data-ng-bind="system.os.name"></span>
                    </li>
                    <li>
                        OS version
                        <span data-ng-bind="system.os.version"></span>
                    </li>
                    <li>
                        OS architecture
                        <span data-ng-bind="system.os.arch"></span>
                    </li>
                    <li>
                        OS directory
                        <span data-ng-bind="system.os.dir"></span>
                    </li>
                </ul>
            </section>

            <section>
                <ul>
                    <li class="clearfix">
                        <h3>WCM Mode</h3>
                        <div class="content">
                            <div class="btn-group">
                                <button class="querystring" data-querystring-key="wcmmode" data-querystring-value="disabled">Disabled</button>
                                <button class="querystring" data-querystring-key="wcmmode" data-querystring-value="edit">Edit</button>
                                <button class="querystring" data-querystring-key="wcmmode" data-querystring-value="design">Design</button>
                                <button class="querystring" data-querystring-key="wcmmode" data-querystring-value="preview">Preview</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <section>
                <ul>
                    <li class="clearfix">
                        <h3>Debug Clientlibs</h3>
                        <div class="content">
                            <div class="btn-group">
                                <button class="redirect" data-link="/libs/cq/ui/content/dumplibs.html">Dumplibs</button>
                            </div>
                            <div class="btn-group">
                                <button class="querystring" data-querystring-key="debugClientLibs" data-querystring-value="true">On</button>
                                <button class="querystring" data-querystring-key="debugClientLibs">Off</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <section>
                <ul>
                    <li class="clearfix">
                        <h3>Debug Layout</h3>
                        <div class="content">
                            <div class="btn-group">
                                <button class="querystring" data-querystring-key="debug" data-querystring-value="layout">On</button>
                                <button class="querystring" data-querystring-key="debug">Off</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <section>
                <ul>
                    <li class="clearfix">
                        <h3>Toggle UI</h3>
                        <div class="content">
                            <div class="btn-group">
                                <button id="lnk_siteAdminToggle">Content Finder</button>
                            </div>
                            <div class="btn-group">
                                <button id="lnk_classicUI">Classic</button>
                                <button id="lnk_touchUI">Touch</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <section>
                <ul>
                    <li class="clearfix">
                        <h3>Marketing Cloud Debugger</h3>
                        <div class="content">
                            <div class="btn-group">
                                <button id="lnk_digitalPulseDebugger">Open</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <section>
                <ul data-ng-click="collapseA = !collapseA">
                    <li class="accordion clearfix">
                        <h3>Environments</h3>
                        <i ng-class="{'icon-arrow-down': collapseA, 'icon-arrow-right': !collapseA}"></i>
                    </li>
                </ul>
                <ul class="sublist" data-ng-show="collapseA">
                    <li data-ng-repeat="server in options.servers" data-ng-show="editMode" class="input-container">
                        <input placeholder="name" data-ng-model="server.name">
                        <input placeholder="url" data-ng-model="server.url">
                        <i data-ng-click="remove($index)" class="icon-minus"></i>
                    </li>
                    <li data-ng-show="editMode" class="input-container">
                        <input placeholder="name" data-ng-model="newServer.name" required>
                        <input placeholder="url" data-ng-model="newServer.url" required>
                        <i data-ng-click="add()" class="icon-plus"></i>
                    </li>
                    <li data-ng-repeat="server in options.servers" data-ng-show="!editMode">
                        <a href="#" ng-click="redirectToEnvironment($index, false)" data-link="{{server.url}}" data-ng-bind="server.name"></a>
                        <a href="#" ng-show="showCompare($index)" ng-click="compareToEnvironment($index)">compare</a>
                        <i class="link-new-window icon-link-external" ng-click="redirectToEnvironment($index, true)"></i>
                    </li>
                    <li class="edit" data-ng-show="!editMode"><a data-ng-click="changeEditMode()">Edit <i class="icon-pencil"></i></a></li>
                    <li class="edit" data-ng-show="editMode"><a data-ng-click="changeEditMode()">Done <i class="icon-disk"></i></a></li>
                </ul>
            </section>

            <section>
                <ul data-ng-click="collapseB = !collapseB">
                    <li class="accordion clearfix">
                        <h3>Clear Caches &amp; Memory</h3>
                        <i ng-class="{'icon-arrow-down': collapseB, 'icon-arrow-right': !collapseB}"></i>
                    </li>
                </ul>
                <ul class="sublist" data-ng-show="collapseB">
                    <li><a id="lnk_clearClientLibs" href="#">Delete cached clientlibs</a></li>
                    <li><a id="lnk_clearCompiledJSPs" href="#">Delete compiled JSPs</a></li>
                    <li><a id="lnk_runGarbageCollector" href="#">Run garbage collector</a></li>
                </ul>
            </section>

            <section>
                <ul>
                    <li class="clearfix">
                        <h3>Impersonate</h3>
                        <div class="content">
                            <div class="btn-group">
                                <button data-ng-show="user.isImpersonated" id="lnk_revertToSelf">Revert to self</button>
                            </div>
                            <select id="sudoables">
                                <option data-ng-repeat="sudoable in sudoables" value="{{sudoable}}" data-ng-bind="sudoable"></option>
                            </select>
                            
                        </div>
                    </li>
                </ul>
            </section>

            <section>
                <ul data-ng-click="collapseC = !collapseC">
                    <li class="accordion clearfix">
                        <h3>Web Console</h3>
                        <i ng-class="{'icon-arrow-down': collapseC, 'icon-arrow-right': !collapseC}"></i>
                    </li>
                </ul>
                <ul class="sublist" data-ng-show="collapseC">
                    <li><a class="redirect" href="#" data-link="/system/console/bundles">Bundles</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/system/console/components">Components</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/system/console/configMgr">Configuration</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/system/console/status-slinglogs">Log Files</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/system/console/depfinder">Packages</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/system/console/requests">Recent Requests</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                </ul>
            </section>

            <section>
                <ul data-ng-click="collapseD = !collapseD">
                    <li class="accordion clearfix">
                        <h3>AEM Common Pages</h3>
                        <i ng-class="{'icon-arrow-down': collapseD, 'icon-arrow-right': !collapseD}"></i>
                    </li>
                </ul>
                <ul class="sublist" data-ng-show="collapseD">
                    <li><a class="redirect" href="#" data-link="/mcmadmin">Campaigns</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/crx/de">CRXDE Lite</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/crx/explorer">CRX Explorer</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/damadmin">Digital Assets</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/crx/packmgr/">Package Manager</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/libs/cq/search/content/querydebug.html">Query Builder Debugger</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/miscadmin">Tools</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/siteadmin">Websites</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                    <li><a class="redirect" href="#" data-link="/libs/cq/core/content/welcome.html">Welcome</a><i class="js-new-window link-new-window icon-link-external"></i></li>
                </ul>
            </section>

            <section class="outer-section">
                <div class="clearfix">
                    <a href="#" data-ng-click="collapseE = !collapseE" class="light pull-right">About <i data-ng-class="{'icon-info': !collapseE, 'icon-cross2': collapseE}"></i></a>
                </div>
                <div class="inner-section" data-ng-show="collapseE">
                    <img class="pull-right" src="/images/icon48.png">
                    <h3>AEM Developer</h3>
                    <p>This is a simple Chrome Extension written with AngularJS. It provides common links
                    that the AEM developer uses on a daily basis, does some basic string manipulation to
                    alter the browser's location, and makes a few AJAX calls to the JCR.</p>

                    <p>I'm currently the lead AEM Engineer at Adobe on the Document Cloud (Acrobat, EchoSign, etc...) marketing sites. I created this tool to speed up my workflow. It's a work in progress and I'd love to hear feedback and suggestions.</p>
                    
                    <ul class="contact">
                        <li><strong>Nate Yolles</strong></li>
                        <li><i class="icon-twitter"></i> <a href="https://twitter.com/nateyolles" target="_blank">@nateyolles</a></li>
                        <li><i class="icon-mail"></i> <a href="mailto:yolles@adobe.com" target="_blank">yolles@adobe.com</a></li>
                        <li><i class="icon-linkedin"></i> <a href="http://www.linkedin.com/in/nateyolles/" target="_blank">linkedin.com/in/nateyolles</a></li>
                    </ul>
                </div>
            </section>
        </div>

        <script src="jquery.min.js"></script>
        <script src="getqueryparameters.js"></script>
        <script src="angular.min.js"></script>
        <script src="ngStorage.min.js"></script>
        <script src="popup.js"></script>
    </body>
</html>